[submodule "Payload_Type/erebus_wrapper/erebus_wrapper/agent_code/shellcrypt"]
	path = Payload_Type/erebus_wrapper/erebus_wrapper/agent_code/shellcrypt
	url = https://github.com/lavender-exe/Shellcrypt
[submodule "Payload_Type/erebus_wrapper/erebus_wrapper/agent_code/Erebus.Loaders"]
	path = Payload_Type/erebus_wrapper/erebus_wrapper/agent_code/Erebus.Loaders
	url = https://github.com/Whispergate/Erebus.Loaders
